.caja{
  width: 190px;
  height: 70px;
  float: left;
  padding: 10px;
}

.container{
  margin: 40px;
  width: 500px;
}

input {
  border: none;
  font-size: 14px;
  height: auto;
  margin: 5;
  outline: 0;
  padding: 10px;
  background-color: #f6f9fc;
  color: #64696d;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-right: 10px;
}

input[type="text"] {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
input[type="number"] {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
input[type="password"] {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

select{
      border: none;
      font-size: 14px;
      height: auto;
      width: 100%;
      margin: 5;
      outline: 0;
      padding: 10px;
      background-color: #f6f9fc;
      color: #64696d;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      margin-right: 10px;
    
}

.textolabel{
  color: #64696d;
  font-size: 16px;
}

.textolabelerror{
  color: #eb1616;
  font-size: 16px;
}

.btn{
  color: #0099CC;
  background: transparent;
  border: 2px solid #0099CC;
  border-radius: 6px;
  border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

.btn{
      background-color: white; 
      color: black; 
      border: 2px solid #008CBA;
}

.btn2{
  background-color: white; 
  color: black; 
  border: 2px solid #e8122e;
  margin: 20px;
}

a{
  margin: 20px;
}

@media (max-width: 400px) {
  .container{
    margin: 40px;
    width: 200px;
  }
}