<div>
    <ul style="list-style: none;">
        <li routerLink="clientes" routerLinkActive="active">Clientes</li>
        <hr>
        <li routerLink="clientes/newcliente" routerLinkActive="active">Crear Cliente</li>
        <hr>
        <li routerLink="cuentas" routerLinkActive="active">Cuentas</li>
        <hr>
        <li routerLink="cuentas/newcuenta" routerLinkActive="active">Crear Cuenta</li>
        <hr>        
        <li routerLink="movimientos" routerLinkActive="active">Movimentos</li>
        <hr>
        <li routerLink="movimientos/newmove" routerLinkActive="active">Crear Movimiento</li>
        <hr>
        <li routerLink="movimientos/listbyclient" routerLinkActive="active">Movimientos por cliente</li>
    </ul>
</div>
    

